# Build results
bin/
obj/
out/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Test results
TestResult*/
*.VisualState.xml
*.coverage
*.coveragexml

# Publish profiles
*.pubxml
*.Publish.xml

# Others
.vscode/
